*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}

body{
    background-color: aquamarine;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: aquamarine;
    font-size: 40px;
    font-weight: bold;

    /* text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.605); */
}

.outer{
    background-color: #fff;
    min-height: 100px;
    width: 500px;
    border-radius: 30px;
    padding: 20px;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.605);

}

.input-group{
    position: relative;
    margin-bottom: 30px;
}

.input-group label{
    position: absolute;
    left: 5px;
    top: 6px;

}
input{
    font-size: 20px;
    height: 60px;
    border-radius: 0px;
    border: none;
    background-color: #eaeaea;
}
button {
    font-size: 20px;
    font-weight: bold;
    background-color: aquamarine;
    border-radius: 30px;
    border: none;
    padding: 20px 30px;
    width: 80%;
    text-align: center;
    display: block;
    margin: 0 auto;
}


/* 2 */
.input-group {
    position: relative;
    width: 100%; /* Adjust as necessary */
}

.input-group input {
    padding: 10px;
    padding-left: 40px; /* Add enough left padding to make space for the icon */
    width: 100%;
    box-sizing: border-box;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Prevent the label from blocking input events */
}

.input-group label i {
    font-size: 16px; /* Adjust as necessary */
}
