<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Login</title>

    <script>
        document.addEventListener("DOMContentLoaded" , async => {
        document.getElementById('loginForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const response = await fetch('/login', {
                method: 'POST',
                body: formData
            });
            if (response.ok) {
                const user = await response.json();
                console.log(user);
                localStorage.setItem('user_info', JSON.stringify(user));
                localStorage.setItem('authToken', user.access_token);
                // Optionally clear the form fields
                event.target.reset();
                localStorage.setItem('user', JSON.stringify(user));
                window.location.href = '/categories_page/categorys';
            } else {
                alert('Login failed. Please check your credentials.');
            }
        });
    });
    </script>

</head>
<body>
    <div class="outer">
        <h1>Login Here</h1>

        <form action="/login" method="POST" id="loginForm">
            <div class="input-group">
                <label for="email"><i class="fa-regular fa-envelope"></i></label>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="input-group">
                <label for="pwd"><i class="fa-solid fa-lock"></i></label>
                <input type="password" id="pwd" name="password" placeholder="Password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <div>
            Create Account? <a href="/register">click here</a>
        </div>
    </div>
</body>
</html>
