<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/static/css/products.css">
<title>{{ page_title }}</title>
</head>
<body>
    {% extends "base.html" %}
    {% block title %} {{ page_title }} {% endblock %}

    {% block content %}
    <h1>{{ category }} List</h1>
    <div class="outer">
        {% for product in products %}
        <div class="cart-card">
            <div class="ph">
                <img src="{{ product.cover }}" alt="Product Image">
                <button value="" class="like-btn" data-product-id="{{ product.id }}" onclick="toggleLike(this)">
                    &#x2764;
                </button>
            </div>
            <div class="card-content">
                <h4>{{ product.name }}</h4>
                <p>{{ product.description }}</p>
                <div class="star-rating">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9734;</span>
                    <span class="rating">(12.3k)</span>
                </div>
                <div class="item-price">
                    <b>${{ product.price }}</b>
                </div>
                <form id="add-to-cart-form-{{ product.id }}">
                    <input type="hidden" name="cart_id" value="{{ cart.id }}">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="button" class="btn" onclick="addToCart('add-to-cart-form-{{ product.id }}')">Add to Cart</button>
                    <button type="button" class="btn" onclick="location.href='/products_page/product_info?product_id={{ product.id }}'">View More</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    
    {% block script_extra %}
    <script>
        function addToCart(formId) {
            const authToken = localStorage.getItem('authToken');
            console.log(authToken,"*********************")
            const form = document.getElementById(formId);
            const formData = new FormData(form);

            fetch('/cart_page/add_cart_item', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function toggleLike(button) {
            const productId = button.getAttribute('data-product-id');
            const isLiked = button.classList.toggle('liked');

            fetch(`/products_page/like_product/${productId}`, {
                method: isLiked ? 'POST' : 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
    {% endblock %}
</body>
</html>
